<div class="story-list">
	<ul>
		<li class="odd"><img src="images/story/story_1.png" /></li>
		<li class="even"><img src="images/story/story_2.png" /></li>
		<li class="odd"><img src="images/story/story_3.png" /></li>
		<li class="even"><img src="images/story/story_4.png" /></li>
		<li class="odd"><img src="images/story/story_5.png" /></li>
		<li class="even"><img src="images/story/story_6.png" /></li>
		<li class="odd"><img src="images/story/story_7.png" /></li>
		<li class="even"><img src="images/story/story_8.png" /></li>
		<li class="odd"><img src="images/story/story_9.png" /></li>
	</ul>
</div>